/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 */
body{
  background: url("book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img.img-responsive{
  max-width: auto;
  height: 40px;
  padding-top: 5px;
}
.next-page{
  font-size: 23px;
  text-align: center;
}

.field{
  width: 500px;
}

.book_box{
  list-style-type: none;
}

.book_box:hover{
  background-image: linear-gradient(#f9f6d1, white);
  zoom: 120%;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > li {
  background-color: #f1f1f1;
  border: 3px solid grey;
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  line-height:75px;
  font-size: 30px;
  opacity: 0.75;
}

.title{
  font-size: 40px;
  font-style: bold;
  color: #5D0606;
  margin: 20px;
}

.description{
  border-style: solid;
  border-width: 5px;
  border-radius: 2px;
  padding: 10px;
  border-bottom-width: thin;
  border-top-width: thin;
  font-size: 25px;
}

.review{
  border-style: solid;
  border-width: 5px;
  border-radius: 2px;
  padding: 10px;
  border-bottom-width: thin;
  border-top-width: thin;
  font-size: 25px;
  border-color: black;
  margin: 20px;
}

.author{
  margin: 20px;
  font-size: 20px;
}

.pub_date{
  margin: 20px;
  font-size: 20px;
}

.heading{
  margin-top: 30px;
  text-align: center;
  color: black;
  font-style:oblique;
  background-color: #bcbc9c;
  margin-left: 50px;
  margin-right: 50px;
}

.new-book{
  margin-left: 760px;
  width: 300px;
  background-color: #3c3d35;
  text-align: center;
  font-size: 30px;
  border: 3px solid black;
  color: #67A3C0;
  margin-top: 30px;
}

.form{
  border: 3px, solid, black;
  width: 300px;
  margin-left: 760px;
  margin-top: 40px;
  padding: 10px;

}
